.u-display-none {
  display: none;
}
.u-visibility-hidden {
  visibility: hidden;
}

.u-position-absolute {
  position: absolute;
}

.u-flex {
  display: flex;
}
.u-items-center {
  align-items: center;
}
.u-flex-col {
  flex-direction: column;
}
.u-items-end {
  align-items: flex-end;
}
.u-justify-between {
  justify-content: space-between;
}
.u-flex-no-shrink {
  flex-shrink: 0;
}
.u-flex-basis-55 {
  flex-basis: 55px;
}
.u-flex-basis-60 {
  flex-basis: 60px;
}

.u-h-28 {
  height: 28px;
}
.u-w-full {
  width: 100%;
}
.u-h-full {
  height: 100%;
}

.u-mt-4 {
  margin-top: 4px;
}
.u-mr-4 {
  margin-right: 4px;
}
.u-mt-6 {
  margin-top: 6px;
}
.u-mt-10 {
  margin-top: 10px;
}
.-u-mb-10 {
  margin-bottom: -10px;
}
.u-mb-10 {
  margin-bottom: 10px;
}
.u-mt-12 {
  margin-top: 12px;
}
.u-mt-16 {
  margin-top: 16px;
}
.u-mt-18 {
  margin-top: 18px;
}
.u-mt-20 {
  margin-top: 20px;
}
.u-px-9 {
  padding-left: 9px;
  padding-right: 9px;
}
.u-px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.u-ml-auto {
  margin-left: auto;
}

.u-opacity-50 {
  opacity: 0.5;
}

.u-order-0 {
  order: 0;
}
.u-order-1 {
  order: 1;
}
.u-order-2 {
  order: 2;
}
.u-order-3 {
  order: 3;
}

.u-pointer-events-none {
  pointer-events: none;
}
