.c-select-input-controls {
  display: flex;
  height: 28px;
  align-items: center;
  position: relative;
  padding: 0 9px;
}
.c-select-input-controls__select-wrapper,
.c-select-input-controls__input-wrapper {
  height: 100%;
}

.c-select-input-controls__select-wrapper {
  flex: 0 0 60px;
}
.c-select-input-controls__input-wrapper {
  border: 1px solid transparent;
  border-radius: var(--base-border-radius);
  margin-top: 1px;
  margin-bottom: 1px;
}
.c-select-input-controls__input-wrapper:hover input:not(:last-child),
.c-select-input-controls__input-wrapper:focus-within input:not(:last-child) {
  border-right-color: var(--figma-color-border, rgba(0, 0, 0, 0.1));
}
