.c-single-input-with-lock {
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-single-input-with-lock--with-label {
  padding: 0 16px;
}

.c-single-input-with-lock--with-select {
  padding: 0 16px 0 15px;
}

.c-single-input-with-lock--deactivated {
  pointer-events: none;
  opacity: 0.5;
}
.c-single-input-with-lock__label {
  font-size: var(--base-font-size);
  color: var(--figma-color-text);
  white-space: nowrap;
}

.c-single-input-with-lock__input-wrapper {
  max-width: 40px;
  margin-left: 7px;
}

.c-single-input-with-lock__lock-wrapper {
  height: 100%;
  margin-left: 7px;
  padding: 2px 0;
  border-radius: var(--base-border-radius);
}

.c-single-input-with-lock__lock {
  height: 100%;
  padding: 0 4px;
  border-radius: var(--base-border-radius);
  display: flex;
  align-items: center;
}
.c-single-input-with-lock__lock:hover {
  background-color: var(--figma-color-bg-secondary);
}
.c-single-input-with-lock__lock--closed {
  background-color: var(--figma-color-bg-selected);
}
.c-single-input-with-lock__lock--closed:hover {
  background-color: var(--figma-color-bg-selected-secondary);
}

.c-single-input-with-lock__lock svg {
  fill: var(--figma-color-icon);
}

.c-single-input-with-lock__lock--closed svg {
  fill: var(--figma-color-icon-brand);
}
