.c-color-picker {
  position: relative;

  padding: 0 16px;

  border-radius: var(--base-border-radius);
}

.c-color-picker__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: var(--figma-color-bg-secondary);
  border: 1px solid rgba(0, 0, 0, 0.02);

  border-radius: var(--base-border-radius);
}

.c-color-picker:focus {
  outline: none;
}
.c-color-picker__message-wrapper {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: var(--base-border-radius);
}
.c-color-picker__message-text {
  margin: 0;
  padding: 16px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--figma-color-text);
  opacity: 0.7;
  text-align: center;
  line-height: 1.4;
}

.c-color-picker__gamut-label {
  z-index: 1;
  position: absolute;
  right: 5px;
  font-size: var(--base-font-size);
  user-select: none;
  transition: top 0.2s ease-out;
}

.c-color-picker__canvas,
.c-color-picker__manipulator,
.c-color-picker__srgb-limit-stroke,
.c-color-picker__relative-chroma-stroke,
.c-color-picker__contrast-stroke {
  position: absolute;
}
.c-color-picker__canvas {
  transform-origin: left top;
}
.c-color-picker__manipulator,
.c-color-picker__srgb-limit-stroke,
.c-color-picker__relative-chroma-stroke,
.c-color-picker__contrast-stroke {
  pointer-events: none;
}

/* TODO - rename to 'disabled' */
.c-color-picker--deactivated .c-color-picker__canvas,
.c-color-picker--deactivated .c-color-picker__manipulator,
.c-color-picker--deactivated .c-color-picker__srgb-limit-stroke,
.c-color-picker--deactivated .c-color-picker__relative-chroma-stroke,
.c-color-picker--deactivated .c-color-picker__gamut-label,
.c-color-picker--deactivated .c-color-picker__contrast-stroke {
  display: none;
}

.c-color-picker--deactivated .c-color-picker__message-wrapper {
  display: flex;
}

.c-color-picker__manipulator {
  position: absolute;
  top: 0;
  width: 18px;
  height: 18px;
}
