.c-bg-or-fg-toggle {
  display: flex;
  border-radius: var(--base-border-radius);
  background-color: var(--figma-color-bg-secondary);
}

.c-bg-or-fg-toggle__element {
  padding: 4px;
  border: 1px solid transparent;
  border-radius: var(--base-border-radius);
}

.c-bg-or-fg-toggle__element--active {
  border: 1px solid var(--figma-color-border);
  background-color: var(--figma-color-bg);
}

.c-bg-or-fg-toggle__element-label {
  font-size: var(--base-font-size);
  font-weight: 400;
  color: var(--figma-color-text-secondary);
}

.c-bg-or-fg-toggle__element--active .c-bg-or-fg-toggle__element-label {
  font-weight: 500;
}
