.c-color-value-inputs__opacity-percent-char {
  margin-left: -1px;

  display: flex;
  align-items: center;
  height: 100%;
  order: 99;

  padding-right: 3px;

  font-size: var(--base-font-size);
  color: var(--figma-color-text-secondary);

  background-color: var(--figma-color-bg-secondary);
}
