canvas {
  image-rendering: crisp-edges;
}

.colorpicker {
  position: relative;
  width: 320px;
  height: 280px; 
}
  .colorpicker__element {
    /* position: absolute; */
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .colorpicker__handler {
    position: absolute; 
    left: 0; 
    pointer-events: none;
  }


.colorslider {
  position: relative;
  width: 257px;
  height: 15px;
}
  .colorslider__element {
    position: absolute;
    top: 15px;
    transform-origin: top left;
    transform: rotate(-90deg);
  }
  .colorslider__handler {
    position: absolute;
    pointer-events: none;
  }